*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  background-color: #f6f6f6;
  font-family: sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

img {
  width: auto;
  max-width: 100%;
}

button {
  padding: 18px 76px;
  border-radius: 60px;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: $font-size-xs;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: darken($color-primary, 30%);
  }
}