// CarsPanels Component.

.panel {
  background-color: $color-white-darken;
  margin-bottom: 55px;
  
  &__title-wrap {
    background-color: $color-grey-darken;
  }

  &__title {
    @include container();
    margin-top: 55px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__content {
    @include container();
    @include clearfix();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;

    @include breakpoint(tablet) {
      width: calc(50% - 15px);
      margin-right: 20px;
  
      &:nth-child(2n + 2) {
        margin-right: 0;
      }
    }

    @include breakpoint(desktop-small) {
      width: calc(25% - 30px);
      margin-right: 40px;
      
      &:nth-child(2n + 2) {
        margin-right: 40px;
      }

      &:nth-child(4n + 4) {
        margin-right: 0;
      }
    }
  }
}