// CarPanel Component.

.car {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px 20px 30px;
  border: 1px solid $color-grey;
  background-color: $color-white;
  text-align: left;
  animation-name: car-panel;
  animation-duration: 200ms;
  transition: transform 200ms ease-in-out;
  cursor: pointer;

  @include breakpoint(tablet) {
    padding: 40px 30px 20px;
    text-align: center;
  }

  @include breakpoint(desktop-small) {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 80px 55px 40px;
  }

  &:hover {
    transform: scale(1.05);
  }

  &--discounted {
    .car__price--standard {
      text-decoration: line-through;
      font-size: $font-size-m / 2;
      color: red;
      
      @include breakpoint(tablet) {
        font-size: $font-size-s;
      }
    }
  }

  &__discount-percentage {
    position: absolute;
    top: -10px;
    right: -1px;
    display: inline-block;
    padding: 8px 15px;
    background-color: $color-secondary;
    color: $color-white;
    font-size: $font-size-m / 2;

    @include breakpoint(tablet) {
      top: 10px;
      padding: 12px 15px;
      font-size: $font-size-xs;
    }
  }

  &__provider {
    vertical-align: top;
    display: inline-block;
    padding-right: 10px;
    max-width: 110px;

    @include breakpoint(tablet) {
      display: block;
      padding-right: 0;
      max-width: 100%;
    }
  }

  &__info {
    vertical-align: top;
    display: inline-block;
    padding-left: 10px;
    width: calc(100% - 110px);

    @include breakpoint(tablet) {
      display: block;
      margin-top: 40px;
      padding-top: 40px;
      padding-left: 0;
      width: 100%;
      border-top: 1px solid $color-grey;
    }
  }
  
  &__name {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: $font-size-s;

    @include breakpoint(mobile) {
      float: left;
      width: 70%;
    }

    @include breakpoint(tablet) {
      float: none;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__type {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: $font-size-xs;
    color: $color-text-secondary;
    
    @include breakpoint(mobile) {
      float: left;
      width: 70%;
    }

    @include breakpoint(tablet) {
      float: none;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__price {
    margin: 5px 0 0 0;
    font-size: $font-size-s;
    font-weight: bold;
    color: $color-blue;

    @include breakpoint(mobile) {
      position: relative;
      top: -25px;
      float: right;
      margin: 0;
      width: 30%;
      text-align: right;
    }


    @include breakpoint(tablet) {
      position: static;
      top: auto;
      float: none;
      width: 100%;
      font-size: $font-size-title;
      text-align: center;
    }
  }
}

@keyframes car-panel {
  from {transform: scale(.5);}
  to {transform: scale(1);}
}