// Mixins.

@mixin breakpoint($breakpoint) {
  @if $breakpoint == desktop-small {
    @media screen and (min-width: 61.25em) {
      @content;
    }
  }
  @else if $breakpoint == tablet {
    @media screen and (min-width: 46.25em) {
      @content;
    }
  }
  @else if $breakpoint == mobile {
    @media screen and (min-width: 27.5em) {
      @content;
    }
  }
}

@mixin container() {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}