// Color Variables.

$color-white: #fff;
$color-white-darken: #f6f6f6;
$color-grey: #dddddd;
$color-grey-darken: #eeeeee;
$color-blue: #0e94f7;
$color-green: #589951;

$color-text-primary: #444444;
$color-text-secondary: #717171;

$color-primary: $color-blue;
$color-secondary: $color-green;

// Font sizes
$font-size-l: 32px;
$font-size-m: 28px;
$font-size-s: 20px;
$font-size-xs: 16px;

$base-font-size: $font-size-xs;

$font-size-title: $font-size-l;
$font-size-subtitle: $font-size-m;
$font-size: $font-size-s;

